h1{
    background:green;
}

.paragraph-1 {
    background-color: white;
    color: red;
    font-size: 14pt;
}
.paragraph-2 {
    border: 10px solid yellow;
    font-size: 24pt;
    border-radius: 10px;
    margin-bottom: 60px;
    padding-left: 20px;
}
.paragraph-3 {
    font-weight: bold;
    font-family: 'Courier New';
}